{#{% extends 'base.html.twig' %}#}

{#{% block title %}Se connecter{% endblock %}#}

{#{% block body %}#}

{#    <!-- auth-page wrapper -->#}
{#    <div class="auth-page-wrapper auth-bg-cover py-5 d-flex justify-content-center align-items-center min-vh-100">#}
{#        <div class="bg-overlay"></div>#}
{#        <!-- auth-page content -->#}
{#        <div class="auth-page-content overflow-hidden pt-lg-5">#}
{#            <div class="container">#}
{#                <div class="row">#}
{#                    <div class="col-lg-12">#}
{#                        <div class="card overflow-hidden">#}
{#                            <div class="row g-0">#}
{#                                <div class="col-lg-6">#}
{#                                    <div class="p-lg-5 p-4 auth-one-bg h-100">#}
{#                                        <div class="bg-overlay"></div>#}
{#                                        <div class="position-relative h-100 d-flex flex-column">#}
{#                                            <div class="mb-4">#}
{#                                                <a href="/" class="d-block">#}
{#                                                    <img src="/images/logo-light.png" alt="" height="18">#}
{#                                                </a>#}
{#                                            </div>#}
{#                                            <div class="mt-auto">#}
{#                                                <div class="mb-3">#}
{#                                                    <i class="ri-double-quotes-l display-4 text-success"></i>#}
{#                                                </div>#}

{#                                                <div id="qoutescarouselIndicators" class="carousel slide" data-bs-ride="carousel">#}
{#                                                    <div class="carousel-indicators">#}
{#                                                        <button type="button" data-bs-target="#qoutescarouselIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>#}
{#                                                        <button type="button" data-bs-target="#qoutescarouselIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>#}
{#                                                        <button type="button" data-bs-target="#qoutescarouselIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>#}
{#                                                    </div>#}
{#                                                    <div class="carousel-inner text-center text-white pb-5">#}
{#                                                        <div class="carousel-item active">#}
{#                                                            <p class="fs-15 fst-italic">" Great! Clean code, clean design, easy for customization. Thanks very much! "</p>#}
{#                                                        </div>#}
{#                                                        <div class="carousel-item">#}
{#                                                            <p class="fs-15 fst-italic">" The theme is really great with an amazing customer support."</p>#}
{#                                                        </div>#}
{#                                                        <div class="carousel-item">#}
{#                                                            <p class="fs-15 fst-italic">" Great! Clean code, clean design, easy for customization. Thanks very much! "</p>#}
{#                                                        </div>#}
{#                                                    </div>#}
{#                                                </div>#}
{#                                                <!-- end carousel -->#}
{#                                            </div>#}
{#                                        </div>#}
{#                                    </div>#}
{#                                </div>#}
{#                                <!-- end col -->#}

{#                                <div class="col-lg-6">#}
{#                                    <div class="p-lg-5 p-4">#}
{#                                        <div>#}
{#                                            <h5 class="text-primary">Welcome Back !</h5>#}
{#                                            <p class="text-muted">Sign in to continue to Velzon.</p>#}
{#                                        </div>#}

{#                                        <div class="mt-4">#}
{#                                            <form action="/">#}

{#                                                <div class="mb-3">#}
{#                                                    <label for="username" class="form-label">Username</label>#}
{#                                                    <input type="text" class="form-control" id="username" placeholder="Enter username">#}
{#                                                </div>#}

{#                                                <div class="mb-3">#}
{#                                                    <div class="float-end">#}
{#                                                        <a href="auth-pass-reset-cover" class="text-muted">Forgot password?</a>#}
{#                                                    </div>#}
{#                                                    <label class="form-label" for="password-input">Password</label>#}
{#                                                    <div class="position-relative auth-pass-inputgroup mb-3">#}
{#                                                        <input type="password" class="form-control pe-5" placeholder="Enter password" id="password-input">#}
{#                                                        <button class="btn btn-link position-absolute end-0 top-0 text-decoration-none text-muted shadow-none" type="button" id="password-addon"><i class="ri-eye-fill align-middle"></i></button>#}
{#                                                    </div>#}
{#                                                </div>#}

{#                                                <div class="form-check">#}
{#                                                    <input class="form-check-input" type="checkbox" value="" id="auth-remember-check">#}
{#                                                    <label class="form-check-label" for="auth-remember-check">Remember me</label>#}
{#                                                </div>#}

{#                                                <div class="mt-4">#}
{#                                                    <button class="btn btn-success w-100" type="submit">Sign In</button>#}
{#                                                </div>#}

{#                                                <div class="mt-4 text-center">#}
{#                                                    <div class="signin-other-title">#}
{#                                                        <h5 class="fs-13 mb-4 title">Sign In with</h5>#}
{#                                                    </div>#}

{#                                                    <div>#}
{#                                                        <button type="button" class="btn btn-primary btn-icon waves-effect waves-light"><i class="ri-facebook-fill fs-16"></i></button>#}
{#                                                        <button type="button" class="btn btn-danger btn-icon waves-effect waves-light"><i class="ri-google-fill fs-16"></i></button>#}
{#                                                        <button type="button" class="btn btn-dark btn-icon waves-effect waves-light"><i class="ri-github-fill fs-16"></i></button>#}
{#                                                        <button type="button" class="btn btn-info btn-icon waves-effect waves-light"><i class="ri-twitter-fill fs-16"></i></button>#}
{#                                                    </div>#}
{#                                                </div>#}

{#                                            </form>#}
{#                                        </div>#}

{#                                        <div class="mt-5 text-center">#}
{#                                            <p class="mb-0">Don't have an account ? <a href="auth-signup-cover" class="fw-semibold text-primary text-decoration-underline"> Signup</a> </p>#}
{#                                        </div>#}
{#                                    </div>#}
{#                                </div>#}
{#                                <!-- end col -->#}
{#                            </div>#}
{#                            <!-- end row -->#}
{#                        </div>#}
{#                        <!-- end card -->#}
{#                    </div>#}
{#                    <!-- end col -->#}

{#                </div>#}
{#                <!-- end row -->#}
{#            </div>#}
{#            <!-- end container -->#}
{#        </div>#}
{#        <!-- end auth page content -->#}

{#        <!-- footer -->#}
{#        <footer class="footer">#}
{#            <div class="container">#}
{#                <div class="row">#}
{#                    <div class="col-lg-12">#}
{#                        <div class="text-center">#}
{#                            <p class="mb-0">&copy;#}
{#                                <script>document.write(new Date().getFullYear())</script> Velzon. Crafted with <i class="mdi mdi-heart text-danger"></i> by Themesbrand#}
{#                            </p>#}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}
{#        </footer>#}
{#        <!-- end Footer -->#}
{#    </div>#}
{#    <!-- end auth-page-wrapper -->#}

{#    {{ include('partials/vendor-scripts.html.twig') }}#}

{#    <!-- password-addon init -->#}
{#    <script src="/js/pages/password-addon.init.js"></script>#}
{#<form method="post">#}
{#    {% if error %}#}
{#        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>#}
{#    {% endif %}#}

{#    {% if app.user %}#}
{#        <div class="mb-3">#}
{#            Vous êtes connecté en tant que {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Se déconnecter</a>#}
{#        </div>#}
{#    {% endif %}#}

{#    <h1 class="h3 mb-3 font-weight-normal">Veuillez vous connecter pour continuer</h1>#}
{#    <label for="inputUsername">Username</label>#}
{#    <input type="text" value="{{ last_username }}" name="username" id="inputUsername" class="form-control" autocomplete="username" required autofocus>#}
{#    <label for="inputPassword">Mot de passe</label>#}
{#    <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>#}

{#    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">#}

{#    <div class="checkbox mb-3">#}
{#        <label>#}
{#            <input type="checkbox" name="_remember_me"> Souviens-toi de moi#}
{#        </label>#}
{#    </div>#}

{#    <button class="btn btn-lg btn-primary" type="submit">#}
{#        Sign in#}
{#    </button>#}
{#</form>#}
{#{% endblock %}#}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Responsive Admin &amp; Dashboard Template based on Bootstrap 5">
    <meta name="author" content="AdminKit">
    <meta name="keywords" content="adminkit, bootstrap, bootstrap 5, admin, dashboard, template, responsive, css, sass, html, theme, front-end, ui kit, web">

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="shortcut icon" href="{{ asset('img/icons/icon-48x48.png') }}" />

    <link rel="canonical" href="https://demo-basic.adminkit.io/pages-sign-in.html" />

    <title>Connexion</title>

    <link href="{{ asset('css/app.css') }}" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600&display=swap" rel="stylesheet">
</head>

<body>
<main class="d-flex w-100">
    <div class="container d-flex flex-column">
        <div class="row vh-100">
            <div class="col-sm-10 col-md-8 col-lg-6 col-xl-5 mx-auto d-table h-100">
                <div class="d-table-cell align-middle">

                    <div class="text-center mt-4">
                        <h1 class="h2">Bienvenue</h1>
                        <p class="lead">Veuillez vous connecter pour continuer</p>
                    </div>

                    <div class="card">
                        <div class="card-body">
                            <div class="m-sm-3">
                                <form method="post">

                                    {% if error %}
                                        <div class="alert alert-danger mb-3">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                                    {% endif %}

                                    {% if app.user %}
                                        <div class="mb-3">
                                            Vous êtes connecté en tant que {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Se déconnecter</a>
                                        </div>
                                    {% endif %}

                                    <div class="mb-3">
                                        <label for="inputUsername">Nom d'utilisateur</label>
                                        <input type="text" value="{{ last_username }}" name="username" id="inputUsername" placeholder="Entrer votre nom d'utilisateur" class="form-control" autocomplete="username" required autofocus>
                                    </div>
                                    <div class="mb-3">
                                        <label for="inputPassword">Mot de passe</label>
                                        <input type="password" name="password" id="inputPassword" class="form-control form-control-lg" placeholder="Entrer votre mot de passe" autocomplete="current-password" required>
                                    </div>

                                    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

                                    <div class="d-grid gap-2 mt-3">
                                        <button class="btn btn-lg btn-primary" type="submit">Connexion</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    {# <div class="text-center mb-3">#}
                    {# Don't have an account? <a href="pages-sign-up.html">Sign up</a>#}
                    {# </div>#}
                </div>
            </div>
        </div>
    </div>
</main>

<script src="{{ asset('js/app.js') }}"></script>

</body>

</html>
