{% extends 'app/base.html.twig' %}

{% block body %}

    <button type="button" class="btn btn-primary mb-2" data-bs-toggle="modal" data-bs-target="#exampleModal">
        Ajout dortoir
    </button>

    <div class="col-12 col-xl-12">
        <div class="card">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th style="width:40%;">N°</th>
                    <th style="width:40%;">Nom - Batiment</th>
                    <th style="width:25%">Genre</th>
                    <th style="width:25%">Nb Plce</th>
                    <th style="width:25%">Plce Dispo</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                {% for dortoir in dortoirs %}
                    <tr>
                        <td>{{ loop.index }}</td>
                        <td>{{ dortoir.libelle ~ ' - ' ~ dortoir.batiment.libelle }}</td>
                        <td>{{ dortoir.genre == 1 ? "Homme" : "Femme" }}</td>
                        <td>{{ dortoir.nombreDePlaces }}</td>
                        <td>{{ dortoir.placeDisponible }}</td>
                        <td class="table-action">
                            <a href="#"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-edit-2 align-middle"><path d="M17 3a2.828 2.828 0 1 1 4 4L7.5 20.5 2 22l1.5-5.5L17 3z"></path></svg></a>
                            <a href="#"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-trash align-middle"><polyline points="3 6 5 6 21 6"></polyline><path d="M19 6v14a2 2 0 0 1-2 2H7a2 2 0 0 1-2-2V6m3 0V4a2 2 0 0 1 2-2h4a2 2 0 0 1 2 2v2"></path></svg></a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Ajouter un nouveau batiment</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form method="POST">
                        <div class="row">
                            <div class="col-md-6 mb-3">
                                <label for="nom" class="form-label">Nom</label>
                                <input type="text" class="form-control" name="nom" id="nom" placeholder="Le nom du batiment">
                            </div>
                            <div class="col-md-6 mb-3">
                                <label for="batiment" class="form-label">Batiment</label>
                                <select name="batiment" class="form-control" id="batiment">
                                    <option value="">Selectionnez le batiment</option>
                                    {% for batiment in batiments  %}
                                        <option value="{{ batiment.id }}">{{ batiment.libelle }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 mb-3">
                                <label for="genre" class="form-label">Nmbre Place</label>
                                <input type="number" name="nbPlace" class="form-control" placeholder="Nombre de place">
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
                            <button type="submit" class="btn btn-primary">Enregistrer</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
