{% extends 'base.html.twig' %}

{% block title %}Inscription carte de membre CEEMUCI{% endblock %}

{% block body %}
    <section class="contact-us section breadcrumbs overlay">
        <div class="container">
            <div class="inner">
                <div class="row">
                    <div class="col-lg-4">
                        <div class="contact-us-left">
                           <img src="carteMembre.jpg"/>
                        </div>
                    </div>
                    <div class="col-lg-8">
                        <div class="contact-us-form">
                            <h2>Votre carte de membre CEEMUCI ici!!!</h2>
                            <p>Si vous avez des questions, n'hésitez pas à nous contacter <a href="{{ path('contact') }}">Ici</a> </p>
                            <!-- Form -->
                            
                            <form class="form" method="POST" enctype="multipart/form-data">
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <input type="text" name="nom" placeholder="Nom" >
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <input type="text" name="prenom" placeholder="Prénom" >
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <input type="text" name="contact" placeholder="Téléphone" >
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <input type="text" name="contactCasUrgent" placeholder="Téléphone cas urgent" >
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <select name="genre" class="form-control" >
                                                <option>M</option>
                                                <option>F</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <select name="coordination" class="form-control" id="coordination">
                                                <option value="Selectionnez votre coordination"></option>
                                                {% for coordination in coordinations %}
                                                    <option value="{{ coordination.id }}">{{ coordination.nom }}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <select name="fonction" id="fonction">
                                                <option value="IMAM">IMAM</option>
                                                <option value="CSC">CSC</option>
                                                <option value="CC">CC</option>
                                                <option value="RECTORAT">RECTORAT</option>
                                                <option value="BEN">BEN</option>
                                                <option value="MEMBRE">MEMBRE</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <input type="text" name="qualite" placeholder="Qualité" >
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-lg-4">
                                        <div class="form-group">
                                            <div class="form-group">
                                                <select name="niveau" id="niveau">
                                                    <option value="niveau">Votre niveau</option>
                                                    {% for niveau in niveaux %}
                                                        <option value="{{ niveau.id }}">{{ niveau.libelle }}</option>
                                                    {% endfor %}
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-4">
                                        <div class="form-group">
                                            <input type="date" name="dateNaissance" placeholder="Date de naissance" >
                                        </div>
                                    </div>
                                    <div class="col-lg-4">
                                        <div class="form-group">
                                            <input type="text" name="lieuNaissance" placeholder="Lieu de naissance" >
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <input type="text" name="villeActuelle" placeholder="Ville de residence" >
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <input type="file" accept="image/*" name="photo" placeholder="Photo" >
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-12">
                                        <div class="form-group login-btn">
                                            <button class="btn" type="submit">Envoyer</button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                            <!--/ End Form -->
                        </div>
                    </div>
                </div>
            </div>
            <div class="contact-info">
                <div class="row">
                    <!-- single-info -->
                    <div class="col-lg-4 col-12 ">
                        <div class="single-info">
                            <i class="icofont icofont-ui-call"></i>
                            <div class="content">
                                <h3>+(225) 07 59 637 013</h3>
                                <p>benceemuci@gmail.com</p>
                            </div>
                        </div>
                    </div>
                    <!--/End single-info -->
                    <!-- single-info -->
                    <div class="col-lg-4 col-12 ">
                        <div class="single-info">
                            <i class="icofont-google-map"></i>
                            <div class="content">
                                <h3>Abidjan Côte d'Ivoire</h3>
                                <p>Cocody, Rivera palmeraie</p>
                            </div>
                        </div>
                    </div>
                    <!--/End single-info -->
                    <!-- single-info -->
                    <div class="col-lg-4 col-12 ">
                        <div class="single-info">
                            <i class="icofont icofont-wall-clock"></i>
                            <div class="content">
                                <h3>24/24</h3>
                                <p>Ouvert tous les jours</p>
                            </div>
                        </div>
                    </div>
                    <!--/End single-info -->
                </div>
            </div>
        </div>
    </section>
{% endblock %}
